<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="utf-8" />
    <title>Torch7</title>
    <link rel="stylesheet" type="text/css" href="/style/style.css" />
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans+Mono&v2" rel="stylesheet" type="text/css">

    <script language="javascript" type="text/javascript" src="/jslibs/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="/jslibs/jquery-ui.min.js"></script>
    <script language="javascript" type="text/javascript" src="/jslibs/jquery.autoresize.js"></script>
    <script language="javascript" type="text/javascript" src="/jslibs/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="/jslibs/jquery.flot.image.js"></script>
    <script language="javascript" type="text/javascript" src="/jslibs/jquery.json.js"></script>
    <script language="javascript" type="text/javascript" src="/jslibs/jquery.form.js"></script>
    <script language="javascript" type="text/javascript" src="/jslibs/jquery.ui.core.js"></script>
    <script language="javascript" type="text/javascript" src="/jslibs/jquery.ui.mouse.js"></script>
    <script language="javascript" type="text/javascript" src="/jslibs/jquery.ui.widget.js"></script>
    <script language="javascript" type="text/javascript" src="/jslibs/jquery.ui.resizable.js"></script>

    <script language="javascript" type="text/javascript" src="/jslibs/underscore.js"></script>
    <script language="javascript" type="text/javascript" src="/jslibs/localstorage.js"></script>
    <script language="javascript" type="text/javascript" src="/jslibs/modernizr-2.5.3.js"></script>

    <script language="javascript" type="text/javascript" src="/jslibs/d3.js"></script>

    <script language="javascript" type="text/javascript" src="/js/common.js"></script>
    <script language="javascript" type="text/javascript" src="/js/plot.js"></script>
    <script language="javascript" type="text/javascript" src="/js/torch.js"></script>

    <link type="text/css" rel="stylesheet" href="/jslibs/jquery.ui.core.css" />
    <link type="text/css" rel="stylesheet" href="/jslibs/jquery.ui.resizable.css" />

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
          processEscapes: true
        },
      });
    </script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>
